body {
  font-family: 'Comic Sans MS';
  text-align: center;
  margin: 50px;

  background: white;
}

.no {
  color: red
}

.yes {
  color: green
}

input, button {
  font-size: 36px;
  padding: 10px;
}